.header {
  height: 7.5rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);

  .wrap {
    height:100%;
    position: releative;
    max-width: 1450px;
    margin: 0 auto;

    .logo {
      position: absolute;
      top: 2%; left: 10px;
      -weblit-transform: translateY(-5%);
      -moz-transform: translateY(-5%);
      transform: translateY(-5%);
      border-radius:50%;
      
    }

    .img {
      width:35px;
      height:auto;
      }
  }
  
}